.car {
    width: 1400px;
    height: 800px;
    margin-left: 50px;
    margin-top: -180px;
}



.img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    background-size: cover;
    display: inline-block;
}
.img1{
    background-image: url('../Assets/images/Tesla/images/white.jpg');
}
.img2{
    background-image: url('../Assets/images/Tesla/images/black.jpg');
}
.img3{
    background-image: url('../Assets/images/Tesla/images/grey.jpg');
}
.img4{
    background-image: url('../Assets/images/Tesla/images/blue.jpg');
}
.img5{
    background-image: url('../Assets/images/Tesla/images/red.jpg');
}

.skidka{
    width:150px;
    height: 30px;
    background-color: #dc3545;
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg);
    top:10px;
    left: -50px;
    text-align: center;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
.col{
    position: relative;
}
.mt-4:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 30px ;
}
.mt-4{
    width: 350px;
    height: 550px;
    margin: auto;
    overflow: hidden;
    transition: 0.3s;
}
